:root {
  --background: #F6EBDB;
  --box: #d5bb95;

  --text: #7D6145;
  --emphasis: #493929;

  --links: #4a6c9e;
  --hover: #293b57;
}

body {
  color: var(--text);
  font-family: 'Verdana';

  background: var(--background);
}

h1, h2, p { margin: 0.5vw; }
h1, h2, li { color: var(--emphasis); }
h1 { font-size: 3.5vw; }
h2, button { font-size: 2.5vw; }
p, li { font-size: 2vw; }

a {
  transition: 0.3s;
  color: var(--links);
}
a:hover {
  transition: 0.3s;
  color: var(--hover);
}

button {
  margin: 2vw;
  padding: 1vw;
  border: none;
  border-radius: 0.5vw;

  font-family: 'Verdana';
  color: var(--links);

  background: var(--hover);

  transition: 0.3s;
}
button:hover {
  cursor: pointer;

  color: var(--hover);

  background: var(--links);

  transition: 0.3s;
}
button:active {
  color: var(--box);
}

.flexcolumn, .flexrow, .small_flexcolumn, .small_flexrow, .schedule {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexcolumn, .small_flexcolumn, .schedule { flex-direction: column; }
.flexrow, .small_flexrow { flex-direction: row; }
.small_flexcolumn, .small_flexrow {
  margin: 1vw;
  margin-top: 4vw;
  padding: 1vw;

  background: var(--box);
}

.schedule {
  user-select: none;

  padding: 1vw;
  margin: 1vw;

  color: var(--box);
  font-size: 2vw;

  background: var(--emphasis);

  transition: 0.3s;
}
.schedule:hover {
  cursor: grab;

  box-shadow: 0.5vw 0.5vw 1vw var(--hover);

  transition: 0.3s;
}

#bigText {
  z-index: -1;
  user-select: none;

  position: absolute;
  left: 1.5vw;

  font-size: 2.8vw;
  font-weight: bolder;
  color: #ece0ce;
}

#col { padding: 1vw; }
